@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: serif;
}


body{
    background: linear-gradient(120deg,#2980b9, #8e44ad);

}
.wrapper{
  display: flex;
  position: relative;
  
}
.containerZona{
  display: flex;
  flex-direction: row;
}
.tablporServicio{
  margin-top: 10px;
  flex: 1;
  margin-left: 30px;

}
.wrapper .sidebar{
  width: 200px;
  height: 100%;
  background: #4b4276;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h2{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  color: #bdb8d7;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #594f8d;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}
 
.wrapper .sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a{
  display: block;
  width: 40px;
  background: #594f8d;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wrapper .main_content{
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .header{
  padding: 20px;
  background: #fff;
  color: #0b0202;
  border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info{
  margin: 20px;
  color: #090606;
  line-height: 25px;
}

.wrapper .main_content .info div{
  margin-bottom: 20px;
}

.Logo{
  object-position: center;
  height: 100px;
  width: 100px;
  display: block;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.navigation {
  display: flex;
  
  background-color: #2980b9;
  padding: 10px;
}

.navigation a {
  text-decoration: none;
  color: #000;
  padding: 5px 10px;
  border-radius: 5px;
  padding-right: 20px;
}

.navigation a:hover {
  background-color: #fff;
}


.check{
  margin-left: 15%;
  font-size: 24px;
  margin-top: 15px;

}

.popup{
  width: 400px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0px 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.popup img{
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.popup h2{
  font-size: 32px;
  font-weight: 500;
  margin: 30px 0 10px;

}

.popup button{
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #517be6;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}
.filtro{
  display: block;
  margin-left: 10%;
  margin-right: auto;
  width: 85%;
  
}
.insideMostrar{
  display: block;
  margin-left: auto;
  margin-right: 0%;
  width: 60%;
  margin-top: 15px;
}

.insideMostrar button{
  font-size: 24px;
  padding: 5px 20px 5px 20px;
}
.dropInVisitaEditar{
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
}

.derechaEditar input[type="number"]{
  margin-top: 10px;
}
.mostrarEditar label{
  font-size: 18px;
}
.filtroEditarVisitas{
  margin-top: 15px;
  display: block;
  margin-left: 16%;
  margin-right: auto;
  width: 75%;
}
.filtroVerVisitas{
  display: block;
  margin-left: 15%;
  margin-right: auto;
  width: 85%;
}
.filtro{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

input{
  border-radius: 10px; 
  font-size: 18px;
  padding: 6px;
  
}
.open-popup{
  visibility: visible;
  top: 20%;
  transform: translate(-50%, 50%) scale(1);
}

.mostrarEditar{
  display: flex;
}
.container {
  display: flex; /* convierte el contenedor en un contenedor flex */
}

.izquierda {
  flex: 1; /* ocupa el 50% del ancho del contenedor */
  margin-right: 10px; /* margen a la derecha */

}

.derecha {
  display: block; /* ocupa el 50% del ancho del contenedor */
  margin-left: 10px; /* margen a la izquierda */
}
.mostrarEditar{
  visibility: hidden;
}

.mostrarEditar-popup{
  visibility: visible;
}

.tableVista tr:hover {
  background-color: rgb(195, 188, 188);
  cursor: pointer;
}
.TbClientes{
  padding: 10px;
  margin-top: 30px;
  margin: 30px auto;

}

.tableviewtech{
  padding: 10px;
  margin-top: 30px;
  margin: 30px auto;
  background-color: #fff;
}

.tableviewtech thead tr :hover{
  background-color: lightgray;
}

.izquierda input {
  font-size: 18px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.izquierda{
  padding-left: 45px;
  padding-top: 15px;
}
.derecha{
  padding-top: 15px;
  margin-right: 25px;
}

.derechaEditar{
  padding-top: 15px;
  margin-right: 25%;
}
.crear_clears{
  display: hidden;
}
.TbClientes th{
  border: 1px solid black;
  padding: 10px;
}
.TbClientes, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
.TbClientes td{
  padding: 5px 5px 5px;
}
.TbClientes tr:hover {
  background-color: lightgray;
  cursor: pointer;
}
.cuadro{
  margin-left: 0px;
  margin-top: 10px;
  border-radius: 5px;
  max-height: 600px;
  max-width: 700px;
  background-color: #fff
}
.cuadrito{
  flex: 1;
  margin-left: 20px;
  margin-top: 10px;
  min-width: 500px;
  min-height: 400px;
  max-width: 500px;
  max-height: 500px;
  border-radius: 5px;
}
/*
.chart1{
  border: 1px solid blue;
  height: 100px;
  width: 100px;
  display: inline-block;
  position: relative;

}*/

.tablaporZona{
  margin-top: 10px;
  flex: 1;
  margin-left: 20px;
  

}
.filter :hover{
  background-color: darkgray;
  cursor: pointer;
}


.chartVisitaporZona{
  flex: 1;
  margin-left: 20px;
  margin-top: 30px;
  
  max-width: 1000px;
  max-height: 800px;
  border-radius: 5px;
}
.tableVista{
  padding: 10px;
  margin-top: 30px;
  background-color: #fff;
  font-size: 18px;
  margin: 30px auto;
}

.tableVista th{
  border: 1px solid black;
  padding: 10px;
}
.tableVista, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
.tableVista td{
  padding: 5px 5px 5px;
}
.BotonCrear{
  margin: 0;
  position: absolute;
  top: 5%;
  left: 23%;
  margin-bottom: 15px;
  -ms-transform: translateY(-30%);
  transform: translateY(-50%);
}
.crearright button{
  font-size: 18px;
  border-radius: 15px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  display: inline-block;
  margin-top: 15px;
  margin-left: 10px;
}

button{
  font-size: 18px;
  border-radius: 15px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  margin-top: 15px;
  margin-left: 10px;
}
.crearright{

  display: block;
  margin-left: auto;
  margin-right: auto;  
  width: 20%;

}

.crear{
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin-left: auto;
  margin-right: auto;  
  width: 60%;
}
.derecha input{
  font-size: 26px;
  border-radius: 10px;
  margin-top: 15px;
}
.derecha label{
  margin-top: 15px;
  padding: 15px;
  font-size: 26px;
}
.drop{
  font-size: 18px;
  padding: 10px;
  border-radius: 8px;
  margin-top: 25px;
}
.inputDireccion{
  width: 60%;
}
.derecha input[type="number"]{
  width: 25%;
}
.inputscontainer{
  display: block;
  margin-left: 15%;
  margin-right: auto;
  width: 80%;
  margin-top: 15px;
}
.droptype{
  font-size: 18px;
  padding: 6px;
  border-radius: 10px;
  margin-top: 25px;
  margin-left: 15px;
}


.btnreset{
  font-size: 18px;
  border-radius: 15px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
  margin-top: 75px;
  margin-left: 45%;
  margin-right: 50%;
}

.tableTech tr:hover {
  cursor: pointer;
}

.boydytableTech :hover{
  background-color: darkgray;
}

.filter :hover{
  background-color: darkgray;
  cursor: pointer;
}
.tableTech{
  padding: 10px;
  margin-top: 30px;
  margin: 30px auto;
  background-color: #fff;
}

.containerZona{
  display: flex;
  flex-direction: row;
}
table th{
  border: 1px solid black;
  padding: 10px;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
table td{
  padding: 5px 5px 5px;
}